# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env

# Database
*.db
*.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Keys
*.pem

# Backups
backups/
backup-source/
mailwizz/
mailwizz-email-engine/

# Monitoring data
monitoring/prometheus_data/
monitoring/grafana_data/

# Pytest
.pytest_cache/
