global:
  scrape_interval: 60s
  evaluation_interval: 60s

scrape_configs:
  - job_name: "email-engine"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["host.docker.internal:8000"]
        labels:
          instance: "email-engine"
